.title-para{
    color:rgb(61, 141, 61);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.font-family{
    font-family:Arial, Helvetica, sans-serif;
}
button{
   
    width: 50%;
}
.yet-btn{
    border-width: 1px;
    border-style: solid;
    border-radius: 0%;
    background-color: #428f46 !important;
    border-color: #428f46 !important;
    color: white;
}
.yet-btn:hover{
    background-color: #279c2d !important;
    border-color: #279c2d !important;
}
.not-yet-btn{
    border-width: 1px;
    border-style: solid;
    border-radius: 0%;
    background-color: #e2e7e2 !important;
    border-color: #e2e7e2 !important;
    
}
