<body>
    <div class="top-container">
       
    </div>
    <div class="responsive-img-div">
        <img src="../../../../assets/images/responsive.png" alt="resoponsive image" srcset="" class="resp-img">
    </div>
    <div class="second-container">
            <h2>In<span>Schedule</span></h2>
            <p>Have all done in time</p>
            
         </div>
          
         <div class="third-party-container">
             <!-- <img src="../../../../assets/images/time.png" alt="time" srcset="" class="schedule_time"> -->
            <p>Get started with the InSchedule platform to organize your weeklys schedule</p>
            </div>
            <div class="get-started-button">
                    <button (click)="signIn()">Get Started</button>
                </div>
            <div class="footer">
                <p>Copyright2020 InSchedule</p>
            </div>
</body>