<div class="container">
    <div class="secondary-container">
     <div class="image">
        <img src="../../../assets/images/welcome-to-dash.png" alt="Schedule img" srcset="" class="schedule-login-img"> 
     </div>

     <div class="wel-pargr">
      
        <p>Welcome To your <span>In<b>Schedule</b></span> Dashboard.</p>
      </div>


      <!-- <div class="container-fluid">
            <div class="row">
              <div class="col-md-12"> -->
              <!-- <h2><p>Date Time Picker</p></h2> -->
                <!-- <div class="form-group">
                  <label for="datetimepicker">Date Time Picker</label>
                  <angular2-date-picker class="form-control" id="datetimepicker" [(ngModule)]="date" [settings]="settings"  style="padding: 0.2rem 0.1rem;">
    
                  </angular2-date-picker>
                </div>
              </div>
            </div>
          </div>  -->


</div>   
</div>